@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap");

:root {
  --red: #f54e4e;
  --green: #4aec8c;
}
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
} */

/* .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.blindbox-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatbox-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 10;
} */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f8edeb;
  color: #eee;
  font-size: 14px;
}
main {
  padding-top: 50px;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

button {
  outline: none;
  background-color: transparent;
  color: #718a72;
  border: none;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Gentium Plus", serif;
}
button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Space between the circle and buttons */
  gap: 10px; /* Spacing between buttons */
}

button:hover {
  transform: scale(1.1); /* Slightly enlarge button on hover */
}

button:active {
  outline: none; /* Ensure focus outline is removed when the button is focused */
  transform: scale(0.9);
}

button.with-text {
  display: flex;
  align-items: center;
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 5vw;
  font-family: "Gentium Plus", serif;
}

button.with-text svg {
  width: 45px;
  float: left;
  margin-right: 5px;
}

.App-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
.motivational-message {
  width: 500px;
  justify-content: center;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 30px;
  font-style: italic;
  color: #718a72;
  margin-top: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.start {
  width: 100px;
  height: 30px;
}

.progressbar-label {
  width: 900%;
  max-width: 1800px;
  margin: 20px auto;
  text-align: center;
}
.blindbox-section {
  position: absolute; /* Keeps it positioned */
  left: 10%; /* Position it to the left of the timer */
  top: 40%; /* Center it vertically in the viewport */
  transform: translateY(-50%);
  z-index: 1000;
  width: auto;
  height: auto;
  overflow: visible;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 6.5rem; /* Ensure the 3D effect is applied */
  user-select: none;
  overflow: visible; /* Prevent content clipping */
}
